
MONGO_URI_DEV=*****
MONGO_URI_PROD=*********
NODE_ENV=production
PORT=9080
NAME_ENQUIRY=https://d9o8urztf23tc.cloudfront.net/api/v1/partners/nameenquiry
SUPPLY_BASE="https://d9o8urztf23tc.cloudfront.net/api/v1/"
PARTNER_NAME_ENV="WDC Digital Centre"
